/* General */
.app {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-color: rgb(23, 23, 23);
  color: rgb(255, 255, 255);
}

/* Header */
.headerContainer {
  margin: 2%
}

/* Title */
.titleContainer {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    font-size: 2em;
    background-color: rgba(1, 1, 1, 0.5);
    padding: 5%;
}

/* Article, Catálogo */
.articleContainer {
  filter: grayscale(1);
  background-image: url(./img/logo.png);
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  /* background-attachment: fixed; */
  padding: 10%;
  margin: 10%
}
/* contenedor generico*/
.contenedor
{
 display: flex;
 background-color: #ce7b1cc9;
}

.contenedor > div {
background-color: #184ee260;
width: 49vw;
margin: 1vw;
text-align: center;
font-size: 2vw;
box-sizing: border-box;
color:black;

}